{% extends 'base.html' %}

{% block title %}Lançar Nova Conta{% endblock %}

{% block content %}
<h2>Lançar Nova Conta</h2>

<form method="POST" class="form-container">
    <div class="form-group">
        <label for="descricao">Descrição:</label>
        <input type="text" id="descricao" name="descricao" required class="form-input">
    </div>

    <div class="form-group">
        <label for="valor">Valor:</label>
        <input type="number" id="valor" name="valor" required class="form-input">
    </div>

    <div class="form-group">
        <label for="data_vencimento">Data de Vencimento:</label>
        <input type="date" id="data_vencimento" name="data_vencimento" required class="form-input">
    </div>

    <div class="form-group">
        <label for="status">Status:</label>
        <select id="status" name="status" required class="form-input">
            <option value="pendente">Pendente</option>
            <option value="pago">Pago</option>
        </select>
    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-finance">Lançar Conta</button>
        <a href="{{ url_for('painel_routes.painel_controle') }}" class="btn btn-exit>Voltar ao Painel Financeiro</a>
    </div>
</form>

{% endblock %}