<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- Exibir mensagens de erro -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert {{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h1>Login</h1>
    <form method="POST" action="{{ url_for('auth_routes.login') }}">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required>
        
        <label for="password">Senha:</label>
        <input type="password" name="password" id="password" required>
        
        <input type="submit" value="Entrar">
    </form>
</body>
</html>