{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert {{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="login-page">
        <form method="POST" action="{{ url_for('auth_routes.login') }}">
            <h2>Login</h2>
            <input type="text" name="username" placeholder="Usuário" required>
            <input type="password" name="password" placeholder="Senha" required>
            <button type="submit" class="btn btn-primary">Entrar</button>
        </form>
    </div>
>{% endblock %}