{% extends 'base.html' %}

{% block content %}
<div class="menu-container">
    <div class="menu-header">
        <h2>Bem-vindo ao Sistema</h2>
        <div class="menu-actions">
            <a href="{{ url_for('admin_routes.criar_usuario') }}" class="btn btn-primary">Criar Usuário</a>
            <a href="{{ url_for('painel_routes.painel_controle') }}" class="btn btn-finance">Painel financeiro</a>
            <a href="{{ url_for('auth_routes.logout') }}" class="btn btn-danger">Sair</a>
        </div>
    </div>

    <div class="users-section">
        <h3>Lista de Usuários</h3>
        <div class="table-container">
            <table class="data-table users-table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in usuarios %}
                    <tr>
                        <td>{{ usuario.nome }}</td>
                        <td>
                            <div class="user-actions">
                                <a href="{{ url_for('admin_routes.editar_usuario', id=usuario.id) }}" class="btn btn-edit">Editar</a>
                                <form action="{{ url_for('admin_routes.excluir_usuario', id=usuario.id) }}" method="POST" style="display:inline;">
                                    <button type="submit" class="btn btn-danger" onclick="return confirm('Tem certeza que deseja excluir?')">Excluir</button>
                                </form>
                                <a href="{{ url_for('aluno_routes.mostrar_aluno', nome=usuario.nome) }}" class="btn btn-evaluation">Avaliação</a>
                                <a href="{{ url_for('aluno_routes.treinos', user_id=usuario.id) }}" class="btn btn-training">Treinos</a>
                                <a href="{{ url_for('financeiro_routes.financeiro', usuario_id=usuario.id) }}" class="btn btn-finance">Financeiro</a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}